service vendor.sensors-hal-1-0 /vendor/bin/hw/android.hardware.sensors@1.0-service.oppo_OP4A89
    class main
    user system
    group system input wakelock
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
